/* Social Media Icon Styling */
.social-icon {
  width: 50px;
  height: 50px;
}

/* About Section Styling */
#about {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/* Education Section Styling */

.education-title {
  font-size: 30px;
}

.education-location {
  font-size: 20px;
  color: #777;
}

.program-details {
  font-size: 16px;
}

/* Skill Section Styling */
.skill-logo {
  width: 100px;
}

/* Contact Section Styling */
#contact {
  background-color: #000000;
  color: #e9e9e9;
}

/* Footer Styling */
footer {
  background-color: #000000;
  color: #e9e9e9; /* Optional: to match the contact section's color */
  text-align: center; /* Optional: center-align the footer text */
  padding: 1rem 0; /* Optional: add padding for spacing */
}
