/* Social Media Icon Styling */
.social-icon {
  width: 50px;
  height: 50px;
}

/* About Section Styling */
#about {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/* Education Section Styling */

.education-title {
  font-size: 30px;
}

.education-location {
  font-size: 20px;
  color: #777;
}

.program-details {
  font-size: 16px;
}

/* Skill Section Styling */
.skill-logo {
  width: 100px;
}

/* Contact Section Styling */
#contact {
  background-color: #000000;
  color: #e9e9e9;
}

/* Footer Styling */
footer {
  background-color: #000000;
  color: #e9e9e9; 
  text-align: center; 
  padding: 1rem 0; 
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: none; /* Initially hidden - will change with Javascript after scroll down */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background-color: #444;
  }
  